<title>My application</title>
  <h1>Hello, This is Buğra's homework2!</h1>
   1st box:array of integer<br>
   2nd box:array of strings (each line has one element)<br>
   3rd box:an integer<br>
   4th box:a string<br>
   If number of integers(entered 2nd box) in integer array(entered 1st box) is equal to number of Strings(entered 4th box) in String array(entered 3rd box) returns true.Else return false<br> 
   Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>        
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
 
       <br>
        <input type="submit">
  </form>

